.dashicons.custom-dashicon {
    font-size: 40px;
}

body.adverts-suite {
	background:#ffffff;
}

.as-clear-fix { 
	clear: both;
}

.as-page-header {
	font-size: 47px;
	font-weight: bold;
	color: #777777;
	padding: 35px 45px 25px 45px;
	line-height: 1.2;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
	background-color: #ffffff;
}


.as-box {
	margin: 20px 0px;
	padding: 25px;
	background-color: #ffffff;
	max-width: 840px;
	font-size: 125%;
	line-height: 1.4;
	border-left: 10px solid #eaeaea;
}

.as-box a:link, a:visited {
	color:#000000;
}
.as-box a:hover {
	color: #a73c5a;
}


.as-info-box {
	margin: 20px 0px;
	padding: 25px;
	background-color: #ffffff;
	max-width: 840px;
	font-size: 115%;
	line-height: 1.4;
	border-left: 10px solid #f4c842;
}

.as-info-box-2 {
	margin: 25px -35px;
	padding: 10px 25px;
	background-color: #ffffff;
	max-width: 840px;
	line-height: 1.4;
	border-left: 10px solid #f4c842;
}

.as-error-box {
	margin: 20px 0px;
	padding: 25px;
	background-color: #ffffff;
	max-width: 840px;
	font-size: 115%;
	line-height: 1.4;
	border-left: 10px solid #f44d41;
}

.as-success-box {
	margin: 20px 0px;
	padding: 25px;
	background-color: #ffffff;
	max-width: 840px;
	font-size: 115%;
	line-height: 1.4;
	border-left: 10px solid #41f4a6;
}

.as-admin-notice-box {
	margin: 0px 0px;
	padding: 0px;
	background-color: none;
	max-width: 890px;
	font-size: 115%;
	line-height: 1.4;
}

.as-error-txt {
	color: #f44d41;
}

.as-button {
	margin-top: 30px;
}
	

.as-options-divider {
	margin-top: 50px;
	margin-bottom:20px;
	border: 1px dashed #eaeaea;
}

.as-dashboard-icon {
	max-width: 50px;
	height: auto;
}

.as-dashboard-icon-header {
	max-width: auto;
	height: 35px;
}

.as-nav-tab {
	text-decoration: none;
	margin-right:10px;
	text-transform: uppercase;
	font-size: 85%;
}
.as-nav-tab-wrapper {


}
.as-nav-tab-active {
	background-color: #ffffff;
	color: #a73c5a!Important;
	font-weight:bold;
}
